body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #A7C7E7;
    color: white;
    padding: 0px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position:fixed;
top: 0; 
left: 0; 
width: 100%;
padding: 20px 50px; 
background:#A7C7E7;
display: flex; 
justify-content:flex-start;
align-items:left; 
z-index: 99;
}
.navigation a {
    position:relative; 
    font-size: 1.1em;
    color:#fff;
    text-decoration:none;
    font-weight: 100;
    margin-right: 70px;
}
.navigation a::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: -6px;
   width: 100%; 
   height: 3px;
   background: #fff;
   border-radius: 5px;
   transform-origin: right;
   transform: scaleX(0);
   transition: transform 0.5s ease;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);

}


h1 {
    margin: 0;
    font-size: 1.5em;
}

.about-section {
    padding: 50px;
}

.about-section .content h2 {
    color: #0066cc;
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section p, .about-section ul {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 30px;
}

.about-section ul {
    list-style-type: square;
    margin-left: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.grid-item {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.grid-item h3 {
    color: #004d99;
    margin-top: 0;
}

