body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #A7C7E7;
    color: white;
    padding: 0px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position:fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    padding: 20px 50px; 
    background:#A7C7E7;
    display: flex; 
    justify-content:flex-start;
    align-items:center; 
    z-index: 99;
}
.navigation {
    display: flex;
    align-items: center;
    gap: 70px; 
}
.navigation a { 
    font-size: 1.1em;
    color:#fff;
    text-decoration:none;
    font-weight: 100;
    margin-right: 70px;
}
.navigation a::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: -6px;
   width: 100%; 
   height: 3px;
   background: #fff;
   border-radius: 5px;
   transform-origin: right;
   transform: scaleX(0);
   transition: transform 0.5s ease;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);

}


h1 {
    margin: auto;
    font-size: 1.5em;
}

.about-section {
    padding: 50px;
    margin-top: 90px;
    margin-bottom: 300px;
}

.about-section .content h2 {
    color: #0066cc;
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section p, .about-section ul {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 30px;
}

.about-section ul {
    list-style-type: square;
    margin-left: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.grid-item {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.grid-item h3 {
    color: #004d99;
    margin-top: 0;
}
.contact-section {
    background-color: #fafeff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Smaller width */
    margin: 0 auto 50px auto; /* Centered with margin on the bottom */
    text-align: center; /* Center text */
}

.contact-section h2 {
    color: #004d99;
    margin-bottom: 10px; /* Reduced margin */
}


.send-message-button {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px; /* Smaller padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.send-message-button:hover {
    background-color: #004d99;
}

